.busqueda {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fields {
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 10px;
}
