.carga {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fuentes-datos {
    margin-top: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
} 
.title-fuente {
    font-size: x-large;
}

.fuentes-datos-elecciones {

}

.fuente-dato {
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fuente-dato-tick {
    width: 10px;
    height: 10px;
    border: solid black 1px;
}

.fuente-dato-name {
    margin-left: 10px;
    font-size: 16px;
}

.carga-años {
    margin-top: 20px;
}